div{
    background-color: aqua;
    width: 50px;
    height:100px;
    overflow: visible;
    box-shadow:2px 5px 3px 5px lightblue;
}

.scrollex{
    background-color: aqua;
    width: 50px;
    height:100px;
    overflow: scroll;
    margin: 20px;
}

.scrollhidden{
    background-color: aqua;
    width: 50px;
    height:100px;
    overflow: hidden;
    margin: 20px;
}

.scrollauto{
    background-color: aqua;
    width: 500px;
    height:100px;
    overflow: auto;
    margin: 20px;
}