/* body {
    font-family: serif; 
} */


/* body {
    font-family: "Times New Roman", Times, serif;
  } */


  /* body {
    font-family: Arial, Helvetica, sans-serif;
  } */
/* 
  @font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  }

  body {
    font-family: "Bitstream Vera Serif Bold";
  } */
/* 
  body { font-family: 'IBM Plex Mono', monospace; }

  h1 { font-size: 2.5em; }

  body {
    font-weight: normal;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .bolder {
    font-weight: bolder;
  } */
/*   
  div {
    font-weight: 600;
  }


  .quote { font-style: oblique; }

/* div { font-style: italic; } */

/* div {
    text-transform: capitalize;
  }
  
  p {
    text-transform: lowercase;
  }
  
  span {
    text-transform: uppercase;
  }


  body { text-align: left; }

.right { text-align: right; }
.justify { text-align: justify; }

div {
    text-decoration-line: overline;
  }
  
  p {
    text-decoration-line: line-through overline ;
  }

  
  div {
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: dashed;
  }

  div {
    text-indent: 10px;
  }
  
  p {
    text-indent: 15%;
  }

  div{
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 5px 5px 1px black; 
  }

  p {
    letter-spacing: 3px;
  }

  div {
    word-spacing: 2px;
  }
  div { 
    font-size: 10pt;
    line-height: 1.2;
  }

  img {
    vertical-align: text-top;
  }

  div {
    border: 1px solid red; 
  } */

  /* div {
    border-top: 1px solid red;
    border-bottom: 2px solid green;
    border-left: 3px solid purple;
    border-right: 4px solid blue;
  } */



  /* All borders width are set to 2px
div {
    border-width: 2px;
  }
  
  /* Top, Bottom are set to 2px and left, right to 3px */
  /* p {
    border-width: 2px 3px;
  } */
  
  /* Top is set to 2px, left &  right to 3px and finaly bottom is set to 1px */
  /* span {
    border-width: 2px 3px 1px;
  } */
  
  /* top: 2px, right: 3px, bottom: 4px and left: 5px */
  /* a {
    border-width: 2px 3px 4px 5px; */ */